:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 90vw;
  margin: auto;
  background-color: lightcyan;
  padding: auto;
}


@media screen and (min-width: 960x) {
  .card-holder {
    grid-template-columns:1fr 1fr;
  }
}

h1 {
  display: flex;
  justify-content: "center";
  align-items: "center";
  text-underline-position: auto;
  text-decoration: underline;
}

button {
  border: 1px solid transparent;
  border-radius: 2rem;
  box-shadow: 1px 1px 30px rgba(0, 0, 0,.3);
  background-color: white;
  padding: 8px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: lightgray;
}

div {
  padding: 3px;
}

label {
  border: 1px solid transparent;
  margin-bottom: 3px;
}
label::before {
  content: ">_< ";
  padding: 5px;
  background-color: white;
  border-radius: 3rem;
  border: 1px solid rgba(135, 135, 135,.6);
  border-style: solid none none solid;
  box-shadow: 1px 1px 1.3rem rgba(135, 135, 135,.3);
  margin-right: 8px;
}
label:hover::before {
  background-color: lightblue;
  content: "^~^ v";
}

input {
  border: 1px solid #FFFFFF;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .7);

  box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
  padding: 5px;
  margin-bottom: 1.3rem;
}
input:focus {
  outline: none;
  border: none;
}

textarea {
  border: 1px solid #FFFFFF;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
  padding: 5px;
  margin-bottom: 1.3rem;
}


.card {
  background-color: rgba(255, 255, 255, .7);
  border: 1px rgba(135, 135, 135,.3);
  border-style: solid none none solid;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
  text-indent: 0.8rem;
  padding: 5px;
}

.card-holder {
  margin-top: 2rem;
  display: grid;
  gap: 1.3rem;
  
}


.pdf_content {
  background-color:cornsilk;
  border-radius: 0px;
  border: 1px solid black;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
}



.pdf_content h1 {
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf_content h2 {
  margin: 0px;
  padding: 0px
}

.pdf_content h3 {
  margin: 0px;
  margin: 0px;
}